# Node.js
node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Backend specific
Backend/.env
Backend/.npm
Backend/.pnp*

# Frontend specific
floroapp/.env
floroapp/.pnp*
floroapp/build/
floroapp/.cache/
floroapp/coverage/

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
jspm_packages/
.pnp.js

# Testing
/coverage

# Production
**/dist

# Debug logs
*.log

# System Files
.DS_Store
Thumbs.db

# React
floroapp/.eslintcache
floroapp/.env.local
floroapp/.env.development.local
floroapp/.env.test.local
floroapp/.env.production.local
floroapp/reportWebVitals.js

# MongoDB
*.ns
*.0
*.1
*.2
*.lock
mongod.log
/data/db/

# macOS
__MACOSX/